@import "node_modules/mediaqueries-sass-mixin/mediaqueries-sass-mixin";

// Base font size to convert from px to rem
$mq-font-size: 16px !default;

// Default media type
$mq-media-type: 'screen' !default;

// Default breakpoints
$mq-breakpoints: (
    small: 544px,
    medium: 768px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
) !default;


$color-highlight: '#a63932';
$sans-serif: "Montserrat",Verdana,Helvetica,sans-serif;
$serif: "Cormorant",Times,"Times New Roman",serif;

.lp-florentina {
  max-width: 920px;
  margin: 0 auto;
}

.lp-florentina__hero {

}

.lp-florentina__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column-reverse;

  @include breakpoint(small) {
    flex-direction: row;
    flex-flow: row;
  }
}

.lp-florentina__content,
.lp-florentina__image {
  width: 100%;

  @include breakpoint(small) {
    width: 50%;
  }
}
